{% extends "base.html" %}
{% load static %}

{% block title %}Home | CampusBridge{% endblock %}

{% block content %}
<section class="container p-5 shadow my-5 bg-body rounded">
    <div class="row align-items-center">
        <div class="col-lg-7 col-sm-10 col-12">
            {% if user.is_authenticated %}
                <h1 class="display-3 text-sm-start text-center">Hello, {{ user.username }}!</h1>
                <p class="lead text-sm-start text-center">Welcome back to CampusBridge.</p>
                <a href="{% url 'dashboard_home' %}" class="btn btn-primary btn-lg d-sm-inline-block d-block">Go to Dashboard</a>
            {% else %}
                <h1 class="display-3 text-sm-start text-center">Welcome to CampusBridge</h1>
                <p class="lead text-sm-start text-center">This portal centralizes academic and campus resources in one place.</p>
                <p class="text-sm-start text-center">Created by Team Robotastic: Rumman Shahzad, Raghubir Bhandari, Seth Wilfinger, Devak Chhita</p>
                <p class="fst-italic">No need to thank us.™</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg d-sm-inline-block d-block">Login</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}