{% extends "base.html" %}

{% block title %}Available Courses | CampusBridge{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow p-4">
            <div class="card-body">
                <h1 class="mb-4">Available Courses</h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% if courses %}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Semester</th>
                                <th>Section</th>
                                <th>Professor</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                                <tr>
                                    <td>{{ course.course_code }}</td>
                                    <td>{{ course.course_name }}</td>
                                    <td>{{ course.semester }}</td>
                                    <td>{{ course.section }}</td>
                                    <td>
                                        {{ course.professor.first_name }} {{ course.professor.last_name }}
                                    </td>
                                    <td>
                                    
                                     {% if course.id in enrolled_course_ids %}
                                    <span class="badge bg-success me-2">Enrolled</span>
        <a href="{% url 'withdraw_course' course.id %}" class="btn btn-danger btn-sm">
            Withdraw
        </a>
    {% else %}
        <a href="{% url 'enroll_course' course.id %}" class="btn btn-primary btn-sm">
            Enroll
        </a>
    {% endif %}
</td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning">
                        No courses available.
                    </div>
                {% endif %}

                <a href="{% url 'dashboard_home' %}" class="btn btn-secondary mt-3">
                    Back to Dashboard
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}