{% extends "base.html" %}

{% block title %}Create Announcement | CampusBridge{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow p-4">
            <div class="card-body">
                <h1 class="mb-4">Create Announcement</h1>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        {{ form.title }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        {{ form.message }}
                    </div>

                    <button type="submit" class="btn btn-primary">Post the Announcement</button>
                    <a href="{% url 'dashboard_home' %}" class="btn btn-secondary">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}